html {
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* border: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; /* Format the margin and padding of the element */
  font-family: var(--main-font);
}

body {
  overflow: hidden;
  font-family: var(--main-font);
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}